name: Deploy Compose Web App

on:
  push:
    branches: [main, gitaction-wasm]

permissions:
  contents: write

jobs:
  test-and-build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5.0.0

      - uses: actions/cache@v4
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-${{ hashFiles('**/*.gradle*') }}-${{ hashFiles('**/gradle/wrapper/gradle-wrapper.properties') }}-${{ hashFiles('**/buildSrc/**/*.kt') }}

      - uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Retrieve the secret and decode it to a file
        env:
          SECRETS_BASE64: ${{ secrets.SECRETS_BASE64 }}
        run: |
          echo $SECRETS_BASE64 | base64 --decode > secrets.properties

      - name: Build Page
        run: |
          ./gradlew wasmJsBrowserDistribution --no-configuration-cache

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: 'composeApp/build/dist/wasmJs/productionExecutable'

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4